<h2>Progress examples</h2>

<div class="progress-showcase">
  <t-progress
      [radius]="50"
      [progress]="0"
      color="#fa4616"
      (complete)="onProgressComplete()"
    ></t-progress>

    <t-progress
      [radius]="25"
      [progress]="progress()"
      color="#ffe135"
      (complete)="onProgressComplete()"
    ></t-progress>

    <t-progress
      [radius]="15"
      [progress]="55"
      color="#4361ee"
      (complete)="onProgressComplete()"
    ></t-progress>

    <t-progress
      [radius]="40"
      [progress]="progress()"
      color="#8a00c4"
      (complete)="onProgressComplete()"
    ></t-progress>
</div>

<div class="buttons-container">
  <button (click)="onSpinnersReload()">Reload spinners</button>
</div>

<h2>No data table and progress</h2>

@if (progressComplete()) {
  <t-grid [data]="[]">
    <t-column [name]="'name'" [property]="'name'"></t-column>
    <t-column [name]="'language'" [property]="'language'"></t-column>
  </t-grid>
} @else {
  <div class="progress-container">
    <t-progress
      [radius]="30"
      [progress]="progress()"
      color="#fa4616"
      (complete)="onProgressComplete()"
    ></t-progress>
  </div>
}

<br />
<br />
<h2>Table with pagination</h2>

<t-grid
  [data]="countriesGridData()"
  [sortable]="true"
  [pageSize]="5"
  [gridDataLength]="countries.length"
  (paginationChange)="performFetch($event)"
  (sortChange)="performFetch($event)"
>
  <t-column [name]="'name'" [property]="'name'" [sortable]="true"></t-column>
  <t-column
    [name]="'population'"
    [property]="'population'"
    [sortable]="true"
  ></t-column>
  <t-column [name]="'currency'" [property]="'currency'"></t-column>
  <t-column [name]="'language'" [property]="'language'"></t-column>
</t-grid>

<br />
<br />
<h2>Table without sort and pagination without starting page size</h2>

<t-grid
  [data]="nbaGridData()"
  [gridDataLength]="nbaPlayers.length"
  (paginationChange)="performNbaPlayersFetch($event)"
>
  <t-column [name]="'name'" [property]="'name'"></t-column>
  <t-column [name]="'total points'" [property]="'totalPoints'"></t-column>
  <t-column
    [name]="'championships won'"
    [property]="'championshipsWon'"
  ></t-column>
</t-grid>
